<%= nested_form_for (@recipe_ingredient) do |f|%>
  <% if @recipe_ingredient.errors.any? %>
    <div id="reason_for_error">
      <h2><%= pluralize(@recipe_ingredient.errors.count, "error") %> stopped this recipe_ingredient from saving:</h2>

    <ul>
      <%= @recipe_ingredient.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
 <% end %>

  <div class="field">
    <%=f.label :quantity %><br/>
    <%=f.text_field :quantity %>
  </div>

  <div class="field">
    <%=f.label :measurement_unit %><br/>
    <%=f.text_field :measurement_unit %>
  </div>

  <div class="actions">
  <%= f.submit class: "btn btn-primary" %>
 </div>
<% end %>
