<%= form_for (@recipe_ingredient) do |f| %>
  <div class="field">
    <%=f.label :quantity %><br/>
    <%=f.text_field :quantity %>
  </div>

  <div class="field">
    <%=f.label :measurement_unit %><br/>
    <%=f.text_field :measurement_unit %>
  </div>

  <div class="actions">
  <%= f.submit class: "btn btn-primary" %>
 </div>
<% end %>
