<h2> Recipe Ingredients Table </h2>

<style>
table {
  width:100%
}
table, th, td {
  border: 2px solid black;
}
th, td {
  padding: 5px;
}
table#t03 tr:nth-child(even) {
    background-color: #eee;
}
table#t03 tr:nth-child(odd) {
   background-color: #fff;
}
table#t03 th {
    background-color: darkgreen;
    color: white;
}

</style>

<table id="t03">
  <tr>
    <th>Quantity</th>
    <th>Measurement Unit</th>
    <th>Show Link</th>
    <th>Edit Link</th>
    <th>Delete</th>
  </tr>

 <% @recipe_ingredients.each do |recipe_ingredient| %>
  <tr>
    <td><%= recipe_ingredient.quantity %></td>
    <td><%= recipe_ingredient.measurement_unit %></td>
    <td><%= link_to "Show", recipe_ingredient_path %></td>
    <td><%= link_to "Edit", edit_recipe_ingredient_path %></td>
    <td><%= link_to "Delete", recipe_ingredient, method: :delete, data: {confirm: "Are you absolutely sure?"} %></td>
  </tr>
<% end %>

</table>

<br/>

<%= link_to 'Add a new Recipe_ingredient', new_recipe_ingredient_path %>
