<p>
  <strong>Quantity:</strong>
  <%= @recipe_ingredient.quantity %>
</p>

<p>
  <strong> Measurement Unit: </strong>
  <%= @recipe_ingredient.measurement_unit %>
</p>

<%= link_to "Edit", edit_recipe_ingredient_path(@recipe_ingredient) %>
<%= link_to "Back", recipe_ingredients_path %>
<%= link_to "Log Out", logout_path, method: :destroy, class: "nav-link" %>
