<%= form_for @culinary_artist, :url => url_for(:controller => 'sessions', :action => 'create', :method => 'post') do |f| %>
  <div class="form-group">
    <%= f.label :name, "Enter your name" %><br>
    <%= f.text_field :culinary_artist_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Please enter your password" %><br>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Log In", class: "btn btn-primary" %>
  </div>
<% end %>
