<%= nested_form_for (@recipe) do |f| %>
  <%= culinary_artist_id_field(@recipe) %>
  <br>
  <% if @recipe.errors.any? %>
    <div id="reason_for_error">
      <h2><%= pluralize(@recipe.errors.count, "error") %> stopped this recipe from being saved:</h2>
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :culinary_artist_id %>
    <%= f.label "Title" %><br/>
    <%= f.text_field :title %>
  </div>

    <%= f.fields_for :recipe_ingredients do |f| %>
    <%= f.label :ingredient_name %>
    <%= f.text_field :ingredient_name %>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    <%= f.link_to_remove "Take out this ingredient" %>
    <% end %>
<br>
  <div>
  <%=f.link_to_add "Add an ingredient", :recipe_ingredients %>
  </div>

<br>
  <div class="field">
    <%= f.label :instructions %>
    <%= f.text_area :instructions %>
  </div>

  <div class="actions">
  <%= f.submit "Create Recipe", class: "btn btn-primary" %> |
 </div>
 <%= link_to "Index", recipes_path, class: "btn btn-primary" %>

 <%end%>
