<%= form_for @recipe do |f| %>
  
  <h3>Title: <%= f.text_field :title %></h3>
  <ul>
    <%= f.fields_for :recipe_ingredients do |recipe_ingredient| %>
    <li>
      name: <%= recipe_ingredient.text_field :name %>
      qty: <%= recipe_ingredient.text_field :quantity %>
    </li>

    <li>
      name: <%= recipe_ingredient.text_field :name %>
      qty: <%= recipe_ingredient.text_field :quantity %>
    </li>

    <li>
      name: <%= recipe_ingredient.text_field :name %>
      qty: <%= recipe_ingredient.text_field :quantity %>
    </li>
    <% end %>
<br>
    <div class="field">
      <%= f.label :instructions %>
      <%= f.text_area :instructions %>
    </div>
    <%= link_to 'add_ingredient', new_ingredient_path %>
  </ul>

  <div class="actions">
  <%= f.submit "Create Recipe", class: "btn btn-primary" %> |

 </div>
<% end %>
