<%= form_for @recipe do |f| %>
  <p>Title: <%= f.text_field :title %></p>
  <ul>
    <%= f.fields_for :ingredients do |ingredient| %>
    <li>
      name: <%= ingredient.text_field :name %>
      qty: <%= ingredient.text_field :quantity %>
    </li>
    <% end %>

    <div class="field">
      <%= f.label :instructions %>
      <%= f.text_area :instructions %>
    </div>
    <%= link_to 'add_ingredient', @recipe #doesn't go anywhere%>
  </ul>

  <div class="actions">
  <%= f.submit "Create Recipe", class: "btn btn-primary" %>
 </div>
<% end %>
