<h2>Welcome to your recipe page! Keep on cooking and creating! </h2>
</br>

<style>
table {
  width:100%
}
table, th, td {
  border: 2px solid black;
}
th, td {
  padding: 5px;
}
table#t01 tr:nth-child(even) {
    background-color: gray;
}
table#t01 tr:nth-child(odd) {
   background-color: darkgray;
}
table#t01 th {
    background-color: darkgreen;
    color: white;
}

</style>

<table id="t01">
  <tr>
    <th>Title</th>
    <th>Instructions</th>
    <th>Show Links</th>
    <th>Edit Links</th>
    <th>Delete Links</th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.title.titlecase %></td>
    <td><%= recipe.instructions %></td>
    <td><%= link_to "Show", recipe %></td>
    <td><%= link_to "Edit", edit_recipe_path(recipe) if current_user == recipe.culinary_artist %></td>
    <td><%= link_to "Destroy", recipe, method: :delete, data: { confirm: "Are you absolutely certain?" } if current_user == recipe.culinary_artist %>  </td>
  </tr>

<% end %>
</table>

<br>
<% if !current_user %>
  <%= link_to "Index", recipes_path %> |
  <%= link_to "Log Out", logout_path %> |
  <%= link_to "Something new", new_recipe_path %> |
  <%= link_to "Order", alpha_recipes_path %>
<% else %>
  <%= link_to "Homepage", root_path %>
<% end %>
