
<h1><%= @recipe.title %></h1>

<p>
  <strong>Ingredients:</strong>

    <%= @recipe.recipe_ingredients.each do |recing| %>

      <%= recing.quantity %>
      <%= recing.ingredient_name %>
    <% end %>

</p>
<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<% if current_user %>
  <%= link_to "Edit", edit_recipe_path %>
  <%= link_to "Back", recipes_path %>
<% else %>
  <% "Please sign in" %>
<%end%>
