<p>
  <strong>Title: </strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Ingredients:</strong>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, ingredient %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>
<% if @culinary_artist_id %>
  <%= link_to "Edit", edit_culinary_artist_recipe_path(@culinary_artist_id) %>
  <%= link_to "Back", recipes_path %>
<% else %>
  <% "Please sign in" %>
<%end%>
