<h2>Ingredients List </h2>

<table>
  <% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td><%= link_to 'Show', ingredient %></td>
    <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
    <td><%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure you would like to delete this??' } %></td>
  </tr>
  <% end %>
</table>

<br>

<%= link_to 'New ingredient', new_ingredient_path %>
