<h2>Ingredients List </h2>

<style>
table {
  width:100%
}
table, th, td {
  border: 2px solid black;
}
th, td {
  padding: 5px;
}
table#t02 tr:nth-child(even) {
    background-color: #eee;
}
table#t02 tr:nth-child(odd) {
   background-color: #fff;
}
table#t02 th {
    background-color: darkgreen;
    color: white;
}

</style>

<table id="t02">
  <tr>
    <th>Name</th>
    <th>Show Link</th>
    <th>Edit Link</th>
    <th>Delete</th>
  </tr>

  <% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td><%= link_to 'Show', ingredient_path(ingredient) %></td>
    <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
    <td><%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure you would like to delete this??' } %></td>
  </tr>
  <% end %>
</table>

<br>

<%= link_to 'New ingredient', new_ingredient_path %>
