<h1> Join the Journey </h1>

<%= form_for @culinary_artist do |f| %>

  <% if @culinary_artist.errors.any? %>
      <div class="reason_for_error">
        <h2>This form is invalid</h2>
        <ul>
          <% for message in @culinary_artist.errors.full_messages %>
            <li><%= message %></li>
          <% end%>
        </ul>
      </div>
    <% end%>

  <div class="form-group">
    <%= f.label :name, "Please create a username" %><br>
    <%= f.text_field :culinary_artist_name %>
  </div>

  <div class="form-group">
    <%= f.label :email, "Enter your email" %><br>
    <%= f.text_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Please create a password" %><br>
    <%= f.password_field :password %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm your password" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Join", class: "btn btn-primary" %>
  </div>
 <% end %>
